<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Search Page</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>

    <form>
        <input type="text" id="from" placeholder="From" name="ds">
        <input type="text" id="to" placeholder="To" name="as">
        <button id="search">Search</button>
    </form>
    <a href="/">Back to menu</a>

    <script>
        let btnSearch = document.getElementById('search');

        btnSearch.addEventListener('click', function generateUrl() {

            let inputFrom = document.getElementById('from').value;
            let inputTo = document.getElementById('to').value;

            console.log(inputFrom);
            let mod = "?to="  + inputTo + "&from=" + inputFrom;
            let base = 'http://localhost:8080/connections';

            const url = new URL(mod, base);
            window.open(url, '_blank');
        });
    </script>

</body>
</html>
