<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Search Page</title>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>
<body>

    <form>
        <input type="text" id="from" placeholder="From" name="ds">
        <input type="text" id="to" placeholder="To" name="as">
        <button id="search">Search</button>
    </form>
    <a href="/">Back to menu</a>

    <script type="text/javascript" th:src="@{/js/search_engine.js}"></script>

</body>
</html>
